version: "3.8"

services:

  postgres:
    image: postgres
    container_name: db
    restart: always
    ports: 
      - "5432:5432"
    environment:
      - DATABASE_HOST=127.0.0.1
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=test_db

  crud:
    build: ./CRUDSimulador
    container_name: crud
    ports:
    - "8000:8000"
    depends_on:
    - postgres

  simulador:
    build: ./Simulador
    container_name: simulador
    ports:
    - "3000:3000"
    
  
  
  intermediate:
    build: ./ApiIntermediate
    container_name: intermediate
    ports:
    - "6000:6000"
    depends_on:
    - crud
    - simulador